@import '../../styles/_vars.scss';
@import '../../styles/_mixins.scss';


.posts {
  .post {
    padding: 20px;
    border: 1px solid $black;
    border-radius: 10px;
    & + .post {
      margin-top: 20px;
    }

    .postLink {
      @include link;
    }
  }
}
